/* navbar */
:root {
  /* colorhues */
  --background: #004643;
  --headline: #fffffe;
  --paragraf: #abd1c6;
  --button: #f9bc60;
  --button-text: #001e1d;
  /* ilustrasion */
  --stroke: #001e1d;
  --main: #e8e4e6;
  --highlight: #f9bc60;
  --secondary: #abd1c6;
  --tertiary: #e16162;
}
body {
  background-color: var(--secondary);
}
nav {
  background-color: var(--background);
  border-bottom: 1.5px solid var(--stroke);
  animation: nav-load 400ms ease-in;
}
nav .navigation {
  animation: nav-link-load 600ms ease-in;
}
.navigation {
  width: 30rem;
  height: 3.2rem;
  background: var(--main);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.navigation ul {
  display: flex;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 50px;
  height: 50px;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  text-align: center;
  font-size: 1.35em;
  transition: 0.5s;
  color: var(--background);
}
.navigation ul li.active a .icon {
  transform: translateY(35px);
}
.navigation ul li a .text {
  position: absolute;
  color: var(--background);
  font-weight: 400;
  font-size: 0.85em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
}
.navigation ul li.active a .text {
  opacity: 1;
  font-weight: bold;
  transform: translateY(-10px);
}
.indicator {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--main);
  bottom: -70%;
  border-radius: 50%;
  border: 3px solid var(--stroke);
  transition: 0.5s;
}
.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(50px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(50px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(50px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(50px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(50px * 4));
}
/* end navbar */
/* home */
.home {
  margin: auto;
  background-color: var(--background);
  width: 90%;
  border-radius: 25px;
}
.box {
  position: relative;
  display: flex;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.box::before {
  content: "";
  position: absolute;
  inset: -10px 70px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: img-animate 5s linear infinite;
}
.box:hover:before {
  inset: -10px -10px;
}
@keyframes img-animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.box::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: var(--background);
  transition: 0.5s;
  border-radius: 50%;
  z-index: 1;
}
.content {
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  z-index: 3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--headline);
}
.content img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.5s;
}
.box:hover .content img {
  opacity: 0;
}

.home-title {
  color: var(--headline);
  letter-spacing: 0.15rem;
}
.home-title h6 {
  letter-spacing: 0.35rem;
}
.home-social {
  display: flex;
  padding: 0.5rem;
}
.home-social a {
  color: var(--main);
  margin-right: 1rem;
}
.home-social a:hover {
  color: var(--highlight);
}
.resume {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
.resume a {
  color: var(--button-text);
  padding: 0.55rem;
  background-color: var(--main);
  border-radius: 5px;
  text-decoration: none;
}
.resume a:hover {
  background-color: var(--highlight);
}
/* end home */
/* Profile */
.profile {
  background-color: var(--background);
}
.contact-info {
  font-size: 1.2rem;
  text-indent: 0.75rem;
}

.certificate p {
  text-indent: 0.75rem;
}

.programming ul {
  font-size: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
/* my skills */
/* .my-skills {
  background-color: var(--main);
} */
/* end profile */
/* contact */
/* button:hover {
  background-color: var(--highlight);
  color: var(--highlight);
} */
.form-text {
  color: var(--headline);
  text-indent: 1.5rem;
}
/* end contact */

/* animation */
@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes nav-link-load {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
